body {
  background-color: var(--primary);
}

.parent {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  padding-top: 5%;
}

.profile {
  height: auto;
  width: 20%;
  border-radius: 25px;
  justify-content: space-between;
  text-align: center;
  display: flexbox;
  background-color: var(--secondary);
  box-shadow: 0 10px 10px #fff;
  margin-top: 5%;
  margin-right: 5%;
}

.profile:hover {
  transform: scale(1.05); 
  transition: 1s;
} 

.button {
  height: 30px;
  width: 100px;
  border-radius: 30px;
  background-color: #fff;
}
.button2 {
  height: 50px;
  width: 100px;
  border-radius: 30px;
  background-color: #fff;
  margin-left: 92%;
}

.center {
  text-align: center;
  align-items: center;
}

:root {
  --white: #cdcfcd;
  --light-yellow: #ece6e3;
  --red: #8d988d;
  --yellow: 	#ece6e3;
  
  --primary: var(--light-yellow);
  --secondary: var(--white);
}

.normal-mode {
  --primary: var(--light-yellow);
  --secondary: var(--white);
}

.pain-mode {
  --primary: var(--red);
  --secondary: var(--yellow);
}

.bgColor {
  background-color: var(--primary);
}

.div {
  background-color: var(--secondary);
}