
.parent {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

.profile {
  height: auto;
  width: 30%;
  border-radius: 25px;
  justify-content: space-between;
  text-align: center;
  display: flexbox;
  box-shadow: 0 10px 10px #f1f1da ;
}

.card:hover {
  transform: scale(1.05); 
  animation-play-state: running;
} 

.center {
  text-align: center;
}

:root {
  --white: #FFFF;
  --light-yellow: #fff2e6;
  --red: #911;
  --yellow: #992;
  
  --primary: var(--light-yellow);
  --secondary: var(--white);
}

.normal-mode {
  --primary: var(--light-yellow);
  --secondary: var(--white);
}

.pain-mode {
  --primary: var(--red);
  --secondary: var(--yellow);
}

.bgColor {
  background-color: var(--primary);
}

.div {
  background-color: var(--secondary);
}